profile=default

cases-exp-indent=4
extension-indent=4
function-indent=4
let-binding-indent=4
match-indent=4
stritem-extension-indent=4
type-decl-indent=4
cases-matching-exp-indent=normal
wrap-fun-args=true
let-and=sparse
dock-collection-brackets=true
if-then-else=fit-or-vertical
type-decl=sparse
space-around-records=true
break-cases=all

break-infix=fit-or-vertical
sequence-style=terminator

margin=100
max-indent=20
